[submodule "embedded/components/pigpio"]
	path = embedded/components/pigpio
	url = https://github.com/joan2937/pigpio
[submodule "embedded/components/PiPCA9685"]
	path = embedded/components/PiPCA9685
	url = https://github.com/barulicm/PiPCA9685
